/* SECTION Elements & Others */



/* SECTION Classes */

.todoCard{
  background-color: rgba(0, 0, 0, 0.529);
  height: 100%;
  width: 100%;
}

.todoList{
  overflow-y: scroll;
  height: 45%;
}

.todoList::-webkit-scrollbar{
  display: none;
}

/* TODO STYLE CHECKBOXES! */

/* SECTION IDs */

#top{
height: 25vh;
}

#middle{
height: 35vh;
}

#bottom{
  height: 40vh;
}

#clock{
  font-size: 4.5em;
  cursor: pointer;
  text-shadow: 2px 2px 4px black;
}

#quote{
  text-shadow: 2px 2px 2px black;
}

#author{
  text-shadow: 2px 2px 2px black;
}

#todo{
  height: 40%;
}